<div class="login-page">
  <div class="form">
    <form class="register-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <input type="text" placeholder="name" name="username" [(ngModel)]="signup.username"
      />
      <input type="text" placeholder="email address" name="email" [(ngModel)]="signup.email"/>
      <input type="text" placeholder="Phone number" 
      name="phone" [(ngModel)]="signup.phone"/>
      <input type="password" placeholder="password" 
      name="password" [(ngModel)]="signup.password"/>
      <button>create</button>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>