<div>
  <ul>
    <li>
      <h1>
        Mentally Prepare Yourself
      </h1>
      <p>
        Preparing for a violent attack is no different than preparing for any other emergency and denial can cost you your life. In the book You Are Not So Smart, author David McRaney tells the story of a couple who survived a large plane crash. The husband had mentally prepared for the emergency and was therefore able to quickly take action during the few moments between the plane hitting the ground and the explosion that followed, while his wife and the rest of the passengers were frozen by fear. He grabbed his wife’s hand and ran for safety, as everyone else sat in their seats unable to process the reality of the plane crash. By simply opening himself up to the possibility of danger, the man empowered himself to take action when the “unthinkable” happened.
Do you know what you would do if you awoke to a man in your bed trying to rape you? Have you ever allowed yourself to consider the possibility or do you hide from such thoughts? Force yourself to think about what you would do if someone were attempting to rape, kidnap or rob you. By mentally preparing yourself, you will be less likely to become frozen by fear and unable to defend yourself if the “unthinkable” were to happen.
      </p>
    </li>
    <li>
      <h1>
        Have a Plan
      </h1>
      <p>
        A black belt in martial arts isn’t required for you to defend yourself against an attacker. Take a self-defense seminar, or at the very least watch some videos online. Practice the techniques you learn and use mental imagery to plan a strategy for different scenarios. By contemplating threatening situations in this way, you are training your body and mind to act from a place of power instead of weakness and paranoia.
      </p>
    </li>
    <li>
      <h1> Follow Your Intuition</h1>
      <p>The best weapon you have is your sixth-sense. Although every animal is born with survival instincts, humans also have the ability to add judgment and everyday experience to our base intuition. This should make us superior to animals, but our judgment can sometimes get in the way. If we can’t explain our “gut feeling” in a logical way, we tend to brush it off as paranoia. By trusting your intuition, you will be able to learn the difference between real fear and worry. If you have a sense of foreboding, don’t second guess yourself. It is better to be safe than to ignore your instincts and become the victim of a violent crime.</p>
    </li>
    <li>
      <h1> Be Aware of Your Surroundings</h1>
      <p>Don’t talk on your phone or listen to your iPod when you’re alone in a public place. Pay attention to what’s going on around you. If you think someone is following you, cross the street or step into a store. If that isn’t possible, look the person straight in the face and ask what time it is. By being unafraid, you show that you will stand up for yourself and fight back if attacked. You can also now identify this person in a line up and this makes you a less desirable target. Predators are very cunning and want to avoid as many risks as possible.</p>
    </li>
    <li>
      <h1>Don’t Look Like a Victim</h1>
      <p>Predators go through a victim selection process. They are most likely to go for a woman with a ponytail, braid or long hair that can easily be grabbed. They also look for clothing that will be easy to remove quickly, like short skirts or anything with straps that can be cut. A woman who is distracted is also an easy target. You can make yourself a harder target by controlling your accessibility, setting and circumstance. Stay in areas with more people, walking with confidence and purpose. Don’t be distracted by looking through your purse or have your hands full of bags. Sometimes just looking like someone who is not to be messed with can deter a would-be attacker.</p>
    </li>
    <li>
      <h1> Be Car Smart</h1>
      <p>
        Predators target parking lots and cars to plan their attacks. Have your keys in your hand before you leave the building. For extra protection hold a few of them in between your fingers to use as a weapon if needed. Wait until you are close to your car to unlock it. If you unlock it from across the lot, someone can easily hop in and hide without you noticing. Once you’re in the car, lock the doors and start driving. Sitting in your car too long gives predators the opportunity to make their move. Also, if a van is parked on the driver’s side of your car, get in on the passenger’s side. The safest option would be to never walk to your car alone. If no one is leaving when you are, ask someone to walk you to your car.
      </p>
      </li>
  </ul>
</div>